.wrapper {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.inputWrapper {
  position: relative;
}

.input {
  margin: 0.25rem;
  width: 3.5rem;
  border: 1px solid white;
  height: 2rem;
  padding-left: 0.1rem;
  border-radius: 5px;
}

.dropDownWrapper {
  position: absolute;
  top: 20%;
  left: 54%;
  z-index: 10;
}

.scrollContainer {
  max-height: 30vh;
  overflow-y: auto;
  border: 1px solid rgb(24, 223, 104);
  scrollbar-width: none;
  position: absolute;
  top: 100%;
  background-color: black;
  z-index: 9999;
  box-shadow: 0 2px 5px rgb(11, 168, 87);
}

.listItem {
  pointer-events: auto;
  cursor: pointer;
}

.listItem:hover {
  background-color: rgb(120, 120, 120);
}

.meridiem {
  border: 1px solid white;
  border-radius: 5px;
  padding-left: 3px;
}

.focused {
  background-color: rgba(120, 120, 120, 0.506);
}

.minuteButton,
.hourButton {
  padding: 0;
  background-color: rgb(3, 3, 3);
  width: 1.5rem;
  height: 1.5rem;
}

.minuteButton:active,
.hourButton:active {
  background-color: black;
}

.scrollParent {
  position: relative;
}
