.pageWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tableAndList {
  display: flex;
  width: 100%;
  gap: 8px;
  flex-wrap: wrap;
}

.grandDaddy {
  /* height: 100%;
  overflow: hidden;*/
}
