.pageWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tableAndList {
  display: flex;
  width: 100%;
  gap: 8px;
  flex-wrap: wrap;
}

.bannerAndOverwrite {
  display: flex;
  width: 30vw;
  height: 25vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000e0;
  gap: 10px 5px;
  border: 4px solid #d23725;
  border-radius: 8px;
  z-index: 15;
  position: fixed;
  top: 20px;
  left: 35%;
  overflow: scroll;
}

.overwrite {
  display: flex;
}

.overwriteButton {
  padding: 3px;
  padding: 3px;
  background-color: #f22525;
}

.overwriteButton:hover {
  background-color: rgb(150, 148, 148);
}

.banner {
  display: flex;
  width: 80%;
  justify-content: center;
}

.bannerMsg {
  font-weight: 200;
}

.clearBnO {
}

.clearButton {
  width: 2rem;
  padding: 0;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0.2rem;
  top: 0.2rem;
}

.timerBar {
  height: 100%;
  display: block;
  position: absolute;
  z-index: -1;
  inset: 0;
  top: 0;
  background: #ffffff36;
  transform-origin: left;
  animation: drain 7.98s linear forwards;
}

@keyframes drain {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(0);
  }
}
