.editIcon {
  position: absolute;
  right: -10vw;
  cursor: pointer;
}

.wrapper .editIcon {
  opacity: 0;
  transition: opacity 0.2s ease;
}
.wrapper:hover .editIcon {
  opacity: 1;
}

.titleNEdit {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.signInWarning {
  color: red;
  border: 5px dashed orange;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.editing {
  pointer-events: none;
  color: gray;
}
