.normalInput {
  border: 0.1rem solid white;
  border-radius: 0.25rem;
}
.invalid {
  border: 0.1rem solid red;
  border-radius: 0.25rem;
}

.errorMessage {
  color: red;
}

.button {
  margin-top: 3vh;
  transition: opacity 0.5s ease;
}

.button:disabled {
  cursor: not-allowed;
  pointer-events: auto;
  border: none;
  opacity: 0.3;
}
