.icon {
  height: 1.33rem;
  width: 1.33rem;
}

.conditionsContainer {
  margin-top: 3vh;
}

.condition {
  display: flex;
  align-items: center;
}

.conditionLabel {
  margin-left: 1vw;
  font-size: 0.75rem;
}
