.addButton {
  line-height: 0;
  width: fit-content;
  padding: 2vh 3vh;
}

.xButton {
  background-color: red;
}

.input {
  border: 0.1rem solid white;
  margin-left: 1vw;
  width: 7vw;
  overflow-wrap: anywhere;
}
