.header {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: baseline;
}

.navWrapper {
  display: flex;
  width: 400px;
  /*margin-bottom: -50px;*/
}
.navPills {
  width: 200px;
  display: flex;
}
.navItem {
  width: 50%;
}
.navPills .navLink {
  font-weight: bold;
  padding-top: 13px;
  text-align: center;
  background: #343436;
  color: #fff;
  border-radius: 25px;
  height: 90px;
  width: 100%;
  display: inline-block;
  border: 1px solid white;
}
.navPills .navLinkActive {
  background: #fff;
  color: #000;
}
.title {
  font-weight: bold;
  font-size: x-large;
}

.hiddenCard {
  height: 90px;
  width: 200px;
  position: relative;
  z-index: 1;
  margin-top: -50px;
  margin-bottom: -90px;
  background-color: #242424;
}

.length {
}

.backWrapper {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backButton {
  display: flex;
  border: 2px solid white;
  border-radius: 5px;
  font-weight: 600;
  font-size: x-large;
  width: 2rem;
  height: 2rem;
  line-height: 1;
  padding-left: 0.35rem;
}

.costWrapper {
  border: 1px solid white;
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 5px;
}

.backAndTotal {
  display: flex;
  justify-content: space-between;
}
