.container {
  flex-flow: column;
}

.error {
  border: red;
}

.errorMessage {
  color: red;
}

.emailErrIcon {
  width: 2rem;
  height: 2rem;
}

.inputField {
  display: flex;
  justify-content: center;
}

.peContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submitButton:disabled {
  cursor: not-allowed;
  pointer-events: auto;
  border: none;
}
