.pageWrapper {
  height: 100vh;
  min-height: 33vh;
  width: 31%;
  background-color: ivory;
  border: 1px solid white;
  border-radius: 10px;
  overflow-y: scroll;
  padding: 1rem;
}

@media (max-width: 768px) {
  .pageWrapper {
    width: 100%; /* full width on smaller screens */
  }
}

.pageWrapper ul {
  list-style: disc;
  padding-left: 2rem;
  text-align: left;
}
.pageWrapper ul li {
  list-style-type: disc;
  color: rgb(60, 58, 58);
  list-style-position: outside;
  font-size: x-large;
  line-height: 1.5rem;
  margin-bottom: 0.6rem;
}

.title {
  color: rgb(60, 58, 58);
  font-size: larger;
  font-weight: bold;
  padding: 2rem 0 1rem 0;
}

.pageWrapper hr {
  border: 2px solid rgb(60, 58, 58);
  margin-bottom: 0.5rem;
}

.editItemWrapper {
  display: flex;
  align-items: center;
}

.input {
  background-color: black;
  width: 100%;
  color: white;
  border-radius: 5px;
}

.trashButton {
  padding: 5px;
  border: 2px solid black;
  margin-left: 5px;
  z-index: 10;
}

.trashIcon {
}
